@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #f8fafc; /* Light gray background */
  min-height: 100vh;
  display: block !important;
}

#root {
  width: 100%;
}